body{
	font: 14px "Helvetica Neue", "Arial";
	margin: 0;
	overflow-x: hidden;
	// & > .container {
	// 	z-index: -1;
	// }
}

#video-streaming {
	width: 250px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	z-index: 580;
	border-radius: 7px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.50);
}

#robot-logo {
	background-color: rgba(255, 255, 255, 0.28);
	padding: 10px;
	color: #042C56;
	margin-top: 10px;
	position: fixed;
	width: 200px;
	right: 0px;
	top: 8%;
	z-index: 580;
	margin-right: 10px;
	border-radius: 10px;
	ul {
		padding-left: 20px;
	}
	img {
		width: 100%;
	}
}

#overlay{
	transition: visibility 0.2s;
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	background: black;
	z-index: 980;
	opacity: 0.4;
	visibility: hidden;
	&.visible {
		visibility: visible;
	}
	&.dim {
		opacity: .9;
    	top: 0;
    	z-index: 1001;
	}
}

#map{
	position: fixed;
	bottom: 0;
	top: 41px;
	left: 0;
	right: 0px;
}
