body{
	font: 14px "Helvetica Neue", "Arial";
	margin: 0;
	overflow-x: hidden;
}

div.top-bar {
	background: #282828;
}

#video-streaming {
	width: 250px;
	padding: 10px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.8);
	bottom: 0;
	left: 0;
	margin-bottom: 10px;
	margin-left: 10px;
	z-index: 0;
	/*visibility: hidden;*/
}

.robot-info-wrapper{
	/*visibility: hidden;*/
}

#robot-logo {
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.8);
	color: lightgray;
	margin-top: 10px;
	position: fixed;
	width: 200px;
	right: 0px;
	top: 8%;
	margin-right: 10px;
}

#robot-logo ul{
	padding-left: 20px;
}

#robot-logo img{
	width: 100%;
}

.sidebar-settings{
	margin-top: 10px;
	padding-top: 50px;
	padding-left: 30px;
	width: 200px;
	height: 90px;
	background-color: rgba(255, 0, 0, 1);
}

.sidebar-element{
	/*transition: all 0.2s;
	background-color: rgba(0, 0, 0, 1);

	position: fixed;
	left: -200px;
	bottom: 0;
	top: 0;
	z-index: 1001;
	margin-top: -55px;*/
	margin: 5px;
	padding-top: 10px;
	width: 190px;
	height: 40px;
	padding-left: 10px;
	background-color: rgba(0, 255, 0, 1);
}

#overlay{
	transition: visibility 0.2s;
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
	background: black;
	z-index: 12;
	opacity: 0.4;
	visibility: hidden;
}

#overlay.visible{
	visibility: visible;
}

#overlay.dim {
    opacity: .9;
    top: 0;
    z-index: 1000;
}

body > .container{
	z-index: -1;
}

#map{
	/*background-color: gray;*/
}

#map{
	position: fixed;
	bottom: 0;
	top: 50px;
	left: 0;
	right: 0px;
}
