/***************
*    GENERAL   *
****************/
 .clickable {
    cursor: pointer;
}
-text {
    .input& {
        position: relative;
        line-height: 1.4;
    }
    .about& {
        text-align: center;
    }
}
.shadow-map {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}
/************************
*       TOP BAR         *
*************************/
.top-right-left(@value: 0) {
    top: @value;
    right: @value;
    left: @value;
}
/****************
*    COMMANDS   *
*****************/
.commands {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 580;
    padding: 0 0 3px;
    margin-right: 20px;
    &-list {
    //     /*display: table-column;*/
        list-style: none;
        & > li {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    //     & > li > a {
    //         &.active > img {
    //             background: #A24359;
    //         }
    //         & > img {
    //             border-radius: 50%;
    //             background: #1066BF;
    //             margin-bottom: 10px;
    //             height: 45px;
    //             transition: all .2s;
    //             &:hover {
    //                 transform: scale(1.3, 1.3);
    //             }
    //         }
    //     }
    }
}
