<!DOCTYPE html>
<html>
	<head>
		<title>WebHUD</title>

		<!-- General styles -->
		<link rel="stylesheet" type="text/css" href="static/lib/css/bootstrap.min.css" />
	
		<!-- Map related -->
	  <!-- <link rel="stylesheet" href="static/lib/css/leaflet.css" /> -->
	  <link rel="stylesheet" href="static/lib/css/leaflet-1.0.css" />
	  <link rel="stylesheet" href="static/lib/css/leaflet.draw.css" />

	</head>
	<body>

		<div id="overlay"></div>

		
		<div>
		<!-- Load libs -->
		<script src="static/lib/js/jquery-1.10.2.js"></script>
		<script src="static/lib/js/bootstrap.min.js"></script>
		<!--script src="static/lib/js/leaflet.js"></script-->
		<script src="static/lib/js/leaflet-1.0.js"></script>
		<script src="static/lib/js/leaflet.plotter.min.js"></script>
		<script src="static/lib/js/leaflet.draw.js"></script>
		<script src="static/lib/js/draw.js"></script>
		<script src="static/lib/js/socket.io-1.3.7.js"></script>

		<!-- App specific libraries -->
		<script src="static/js/map.js"></script>
		<script src="static/js/ui-actions.js"></script>
		<script src="static/js/sio.js"></script>
		<script src="static/js/protocol.js"></script>
		<script src="static/js/main.js"></script>
		<script src="static/js/keyboard.js"></script>
		</div>

	</body>
</html>
