<!DOCTYPE html>
<html>

<head>
    <title>WebHUD</title>

    <!-- General styles -->
    <link rel="stylesheet" type="text/css" href="static/lib/css/semantic.min.css" />
    {{ css('less') }}

    <!-- Map related -->
    <!-- <link rel="stylesheet" href="static/lib/css/leaflet.css" /> -->
    <link rel="stylesheet" href="static/lib/css/leaflet-1.0.css" />

    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
</head>

<body>
    <div class="ui sidebar left vertical inverted labeled icon menu">
        <a class="item settings">
            <i class="settings icon"></i>
            Settings
        </a>
    </div>
    <div class="ui pusher">
        <div class="ui blue top fixed inverted borderless icon menu">
            <a class="item options">
                <i class="options icon"></i>
            </a>
            <div class="right menu">
                <a class="ui item">About</a>
            </div>
        </div>

        <div class="ui container">
            <div id="map-container" class="column">
                <div id="map"></div>
            </div>

            <div id="robot-info-wrapper"></div>

            <div id="commands"></div>
            <div id="streaming"></div>
            <div id="mode-text"></div>
        </div>

        <div class="ui modal settings">
            <i class="close icon"></i>
            <div class="header">Settings</div>
            <div class="content">Setup the application</div>
        </div>

        <div class="ui basic modal">
            <i class="close icon"></i>
            <div class="header">About</div>
            <div class="content">
                <div class="description">
                    This application it's designed by the <b>PyForce</b> group
                </div>
            </div>
            <div class="actions">
                <div class="ui ok green basic inverted button">
                    <i class="checkmark icon"></i>
                    Ok
                </div>
            </div>
        </div>
    </div>

    <!-- Load libs -->
    <script src="static/lib/js/jquery-1.10.2.js"></script>
    <script src="static/lib/js/semantic.min.js"></script>
    <script src="static/lib/js/leaflet-1.0.js"></script>
    <script src="static/lib/js/leaflet.plotter.min.js"></script>
    <script src="static/lib/js/socket.io-1.3.7.js"></script>
    <script src="static/lib/js/modernizr.min.js"></script>
    <script src="static/lib/js/react.min.js"></script>
    <script src="static/lib/js/react-dom.min.js"></script>

    <script type="text/javascript">
        $('.ui.menu>.item.options').click(function(){
            $('.ui.sidebar').sidebar('toggle');
        });
        $('.ui.menu>.right.menu>.item').click(function(){
            $('.ui.basic.modal').modal('show');
        });
        $('.ui.sidebar>.item.settings').click(function(){
            $('.ui.settings.modal').modal('show');
        });
    </script>

    <!-- App specific libraries -->
    {{ js('coffee', 'cjsx') }}

</body>

</html>
