<!DOCTYPE html>
<html>

<head>
    <title>WebHUD</title>

    <!-- General styles -->
    <link rel="stylesheet" type="text/css" href="static/lib/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/navigation.css" />
    <link rel="stylesheet" href="static/css/icon-menu.css">
    <link rel="stylesheet" href="static/css/style.css">

    <!-- Map related -->
    <!-- <link rel="stylesheet" href="static/lib/css/leaflet.css" /> -->
    <link rel="stylesheet" href="static/lib/css/leaflet-1.0.css" />

</head>

<body>
    <div class="ui sidebar left vertical inverted labeled icon menu">
        <a class="item settings">
            <i class="settings icon"></i>
            Settings
        </a>
    </div>
    <div class="ui pusher">
        <div class="ui blue top fixed inverted borderless icon menu">
            <a class="item options">
                <i class="options icon"></i>
            </a>
            <div class="right menu">
                <a class="ui item">About</a>
            </div>
        </div>

        <div class="ui container">
            <div id="map-container" class="column">
                <div id="map"></div>
            </div>

            <div id="robot-info-wrapper"></div>

            <div id="commands"></div>
            <div id="video-streaming"></div>
        </div>

        <!-- TEXT MODE -->
        <div id="mode-text" class="modal-dialog modal-text transition in" data-transition="transition in">
            <form id="form-text">
                <!-- <div id="input-text"> -->
                <input id="text-order" autocomplete="off" placeholder="Order" type="text">
                <!-- <button id="btn-order" type="submit"> -->
                <!-- </div> -->
            </form>
        </div>

        <div class="ui modal settings">
            <i class="close icon"></i>
            <div class="header">Settings</div>
            <div class="content">Setup the application</div>
        </div>

        <div class="ui basic modal">
            <i class="close icon"></i>
            <div class="header">About</div>
            <div class="content">
                <div class="description">
                    This application it's designed by the <b>PyForce</b> group
                </div>
            </div>
            <div class="actions">
                <div class="ui ok green basic inverted button">
                    <i class="checkmark icon"></i>
                    Ok
                </div>
            </div>
        </div>
    </div>

    <!-- Load libs -->
    <script src="static/lib/js/jquery-1.10.2.js"></script>
    <!--script src="static/lib/js/leaflet.js"></script-->
    <script src="static/lib/js/semantic.min.js"></script>
    <script src="static/lib/js/leaflet-1.0.js"></script>
    <script src="static/lib/js/leaflet.plotter.min.js"></script>
    <script src="static/lib/js/socket.io-1.3.7.js"></script>
    <script src="static/lib/js/modernizr.min.js"></script>
    <script src="static/lib/js/react.min.js"></script>
    <script src="static/lib/js/react-dom.min.js"></script>

    <!-- Load react components -->
    <script src="static/js/components/hud.js"></script>

    <!-- App specific libraries -->
    <script src="static/js/robot.js"></script>
    <script src="static/js/map.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/ui-actions.js"></script>
    <script src="static/js/sio.js"></script>
    <script src="static/js/keyboard.js"></script>

</body>

</html>
