<!DOCTYPE html>
<html>

<head>
    <title>WebHUD</title>

    <!-- General styles -->
    <link rel="stylesheet" type="text/css" href="static/lib/css/semantic.min.css" />
    {{ css('less') }}

    <!-- Map related -->
    <link rel="stylesheet" href="static/lib/css/leaflet-1.0.css" />

    <link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico"/>
</head>

<body>
    <div id="sidebar"></div>
    <div class="ui pusher">
        <div id="menu"></div>

        <div class="ui container">
            <div id="map-container" class="column">
                <div id="map"></div>
            </div>

            <div id="robot-info-wrapper"></div>
            <div id="streaming"></div>
            <div id="mode-text"></div>
        </div>

        <div id="settings"></div>
        <div id="about"></div>
    </div>

    <!-- App specific libraries -->
    {{ js('browserify') }}

    <!-- Load libs -->
    <script src="static/lib/js/semantic.min.js"></script>
</body>

</html>
