<!DOCTYPE html>
<html>
	<head>
		<title>WebHUD</title>

		<!-- General styles -->
		<link rel="stylesheet" type="text/css" href="lib/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/navigation.css" />

		<!-- Map related -->
	    <link rel="stylesheet" href="lib/css/leaflet.css" />

	</head>
	<body>

		<div id="overlay"></div>

	    <!-- Navigation -->
	    	<div class="top-bar">
			    <div class="row">
					<div class="col-md-12">
						<img id="settings" class="icon" src="assets/images/ico.png"></img>
						<img class="icon" src="assets/images/ico2.png"></img>
						<img id="plot" class="icon" src="assets/images/ico3.png"></img>
						<img class="icon" src="assets/images/ico4.png"></img>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row">
					<!-- Left sidebar -->
					<div id="sidebar-left">
						<h1 class="sidebar-settings">Settings</h1>
						<h2 class="sidebar-element">Element 1</h2>
						<h2 class="sidebar-element">Element 2</h2>
						<h2 class="sidebar-element">Element 3</h2>
					</div>

					<div id="map-container" class="col-sm-10 col-md-10">
						<div id="map" ></div>
					</div>

					<div class="robot-info-wrapper">
						<div id="robot-logo">
							<img src="assets/images/LTL_100.png"/>

							<ul>
								<li>Robot: LTL</li>
								<li>SBC: RPi</li>
								<li>Service Board: Arduino Uno</li>
								<li>Dim: .41 x .23 x .35</li>
								<li>Pos: (1.2m, 3.4m)</li>
								<li>WiFi: -71dBm</li>

							</ul>

						</div>
					</div>
				</div>
			</div>

			<img id="video-streaming" src=""/>
		</div>

		<!-- Load javascripts -->
		<script src="lib/js/jquery-1.10.2.js"></script>
		<script src="lib/js/bootstrap.min.js"></script>
		<script src="lib/js/leaflet.js"></script>
		<script src="lib/js/leaflet.plotter.min.js"></script>

		<script src="assets/js/map.js"></script>
		<script src="assets/js/ui-actions.js"></script>

	</body>
</html>
